/** blog common css styles **/

body {
	background-color:@dividerLightColor;
}

core-toolbar#blog-mainheader {
  background-color: @primaryColor;
  color           : @textNicon;
}

paper-shadow.content-box {
  display      : inline-block;
  background   : white;
  box-sizing   : border-box;
  width        : 100%;
  
  margin       : 16px;
  padding      : 10px;
  padding-left :16px;
  padding-right:16px;
  border-radius: 2px;
}

paper-shadow.content-box.summary {
	height: 200px;
}

