/** blog common css styles **/

@import './variables.less';

body {
	background-color:@dividerLightColor;
}

core-toolbar#blog-mainheader {
  background-color: @primaryColor;
  color           : @textNicon;

	.home-button {
		color: #FFF!important;

		&:active, &:hover, &:focus {
			color          : #FFF!important;
			text-decoration: none!important;
		}
	}
}

paper-shadow.content-box {
  display      : inline-block;
  background   : white;
  box-sizing   : border-box;
  width        : 100%;

  margin       : 16px;
  padding      : 10px;
  padding-left :25px;
  padding-right:25px;
  border-radius: 2px;

  .date-and-autor {
  	color: @secondaryText;
  	font-size:13px;
  	font-weight:bold;

    core-icon {
      height:15px;
      width:15px;
    }
  }
}

.nav-buttons {
	margin-top:20px;
	margin-left:10px;
}

paper-shadow.content-box.summary {
	height  : 200px;
	overflow: hidden;
}

// about dialog
html /deep/ #about-dialog {
	position: fixed;
	top     : 20px;
	right   : -3px;
	width   : 300px;

	> p {
		margin-top: 30px;
	}

	.profile-photo {
		width:125px;
		height:125px;
		margin-left:auto;
		margin-right:auto;
	}

	.author-name {
		 text-align:center;
		 font-weight:bold;
		 margin-top:10px;
		 margin-bottom:20px;
	}

}
