/** blog style variables **/

@primaryColor     : #673AB7;
@darkPrimaryColor : #512DA8;
@lightPrimaryColor: #D1C4E9;
@textNicon        : #FFFFFF;
@accentColor      : #448AFF;
@primaryText      : #212121;
@secondaryText    : #727272;
@dividerColor     : #B6B6B6;
@dividerLightColor: lighten(@dividerColor, 15%);