// admin page style

@import 'variables.less';

.page-title {
  font-size    : 26px;
  color        : @accentColor;
  margin-bottom: 20px;
  font-weight  : bold;
}

paper-dropdown {
  position  : absolute!important;
  top       : 38px!important;
  right     : 10px!important;
  min-width : 180px!important;
  min-height:120px!important;

  paper-item {
		color    : @primaryText;
		font-size:12px;
    height   :52px;
	}
 
}
html /deep/ paper-dropdown::shadow #scroller {
  box-sizing: border-box;
  padding: 0px;
}

#contents {
  paper-fab#add-post {
    position:fixed;
    right: 25px;
    bottom:25px;
    background-color:@accentColor;
  }
}

table {
  border-left:1px solid @dividerLightColor;
  border-right:1px solid @dividerLightColor;
  border-bottom:1px solid black;
  th {
    text-align: left;
    font-size:16px;
    color: @lightPrimaryColor;
    background-color:@dividerLightColor;
    /*border-bottom: 2px solid #B6B6B6;*/
    padding-top:15px;
    padding-bottom:15px;
    padding-left:12px;
    padding-right:12px;
    font-weight:bold;
  }


  tbody td {
    border-bottom: 1px solid @dividerColor;
    padding:12px;
    //padding-left:0px;
  }

  tbody td {
    font-size:14px;
    color: @secondaryText;
    
  }

  tbody tr:last-child td{
    border:none;
  }
}