// admin page style

@import 'variables.less';

paper-dropdown {
  position : absolute!important;
  top      : 38px!important;
  right    : 10px!important;
  min-width: 150px!important;

  paper-item {
		color    : @primaryText;
		font-size:12px;
    height   :52px;
	}
 
}
html /deep/ paper-dropdown::shadow #scroller {
  box-sizing: border-box;
  padding: 0px;
}

#title-header {
  .title    { margin-left: 120px; }
  .subtitle { margin-left: 38px; }
  paper-fab {
    margin-left     :20px;
    margin-top      :60px;
    background-color:@accentColor;
  }
}