/** application shared css styles **/

body {
	color: @primaryText;
}

a {
	color: @accentColor!important;
}

/** polymer ui customize **/

paper-button:hover{
	background-color:@dividerLightColor;
}

paper-button.primary {
	color: @accentColor;
}

// buttons
paper-button[raised] {
  background-color: #fff;
}

paper-button[raised].primary {
  background-color: @accentColor;
  color           : @textNicon;
}

paper-button[raised].secondary {
	background-color: @lightPrimaryColor;
	color:@textNicon;
}

paper-icon-button.primary {
	color: @accentColor;
}

// checkbox
paper-checkbox::shadow #checkbox {
	border-color: @secondaryText;
}

paper-checkbox::shadow #checkbox.checked {
  background-color: @accentColor;
  border-color    : @accentColor;
}

paper-checkbox::shadow #ink {
  color: @secondaryText;
}

// radio
paper-radio-button::shadow #ink[checked] {
  color: @accentColor;
}

paper-radio-button::shadow #onRadio {
  background-color: @accentColor;
}

paper-radio-button[checked]::shadow #offRadio {
  border-color: @accentColor;
}

paper-radio-button::shadow #ink {
  color: @secondaryText;
}

paper-radio-button::shadow #offRadio {
  border-color: @secondaryText;
}



// input
/** normal out focus **/
paper-input-decorator /deep/ .unfocused-underline {
	background-color: @primaryColor!important;
}
paper-input-decorator /deep/ .floated-label .label-text {
	color: @primaryText!important;
}

/** normal focus **/
paper-input-decorator /deep/ .focused-underline {
	background-color: @primaryColor!important;
}
paper-input-decorator[focused] /deep/ .floated-label .label-text {
	color: @primaryText!important;
}

/** invalid focus **/
paper-input-decorator.invalid /deep/ .focused-underline {
	background-color: @lightPrimaryColor!important;
}
paper-input-decorator.invalid[focused] /deep/ .floated-label .label-text,
paper-input-decorator[focused] /deep/ .error {
	color: @secondaryText!important;
}

/** invalid out focus **/
paper-input-decorator.invalid /deep/ .unfocused-underline {
	background-color: @lightPrimaryColor!important;
}
paper-input-decorator.invalid /deep/ .floated-label .label-text,
paper-input-decorator /deep/ .error {
	color: @secondaryText!important;
}

/** form - global validation **/
paper-shadow.global-validator {
  display         : inline-block;
  background-color: @lightPrimaryColor;
  box-sizing      : border-box;
  margin-bottom   : 0px;
  margin-top      : 20px;
  padding         : 10px;
  border-radius   : 2px;
  width           : 100%;
  color           : @textNicon;
  font-size       : 13px;

  core-icon {
    margin-right:5px;
    font-size   :12px;
    height      :18px;
    width       :18px;
  }
}

/** form - alert **/
paper-shadow.form-alert {
  display         : inline-block;
  background-color: @dividerLightColor;
  box-sizing      : border-box;
  margin-bottom   : 0px;
  margin-top      : 20px;
  padding         : 10px;
  border-radius   : 2px;
  width           : 100%;
  color           : @primaryText;
  font-size       : 13px;

  core-icon {
    margin-right:5px;
    font-size   :12px;
    height      :18px;
    width       :18px;
  }
}

/** toast **/
paper-toast {
  
}

/** dialog **/
paper-action-dialog {
	width    : 50%;
	min-width: 430px;

	p {
		margin-bottom: 0;
	}

	paper-button[autofocus] {
		color: @primaryColor;
	}

	paper-button[autofocus].primary {
		color: @accentColor;
	}
}

html paper-action-dialog /deep/ h1 {
	color:@primaryColor;
}

FORM radio-group legend {
	color: @primaryText;
	font-weight:normal;
	margin-top: 20px;
	margin-bottom:0px;
}

FORM fieldset {
	border:0px;
	margin-top:70px;

	legend {
		line-height  :20px;
		font-size    : 20px;
	  color        : @lightPrimaryColor;
	  margin-bottom: 20px;
	  font-weight  : bold;

		display: block;
	  width  : 100%;
	  float  : left;
	  clear  : both;

		margin-top :-40px;
		margin-left:-15px;
	}
}
