/** application common css styles **/

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}

/** to use ng-cloak **/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#contents {
	max-width   :780px;
	margin-left :auto;
	margin-right:auto;
	padding     :20px;
	padding-top :40px;
}