<% include header %>

<style>
.CodeMirror {
  height:80px;
}
</style>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents" style="">

      <div style="color:#444;font-size:22px;color:magenta;margin-bottom:20px;"><core-icon icon="add"></core-icon>&nbsp;New Post</div>

      

      <paper-input-decorator 
        label="Title" 
       
      >
        <input name="username" is="paper-input"
          required 
          ng-model="formData.username" 
          ng-maxlength="10" 
          ng-minlength="4"
          ng-keydown="hideGlobalValidation()"
        >
      </paper-input-decorator>

    <div style="margin-right:auto;margin-left:auto;max-width:780px;padding:0px;margin:0px auto;height:100px;margin-top:20px;"><textarea id="editor" style="height:100px;padding:10px;" height="100px"></textarea></div>

    <div style="margin-top:80px;">

      <div style="margin-left:auto;margin-right:auto;text-align:center">

     <paper-button
        raised class="submit primary" style="margin-top:20px;width:25%;">
        PUBLISH
      </paper-button>

       <paper-button
        raised class="submit" style="margin-top:20px;width:25%">
        CANCEL
      </paper-button>

    </div>

    </div>



  </div>

   </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin_new_post.js"></script>

<% include footer %>