<% include header %>

<core-header-panel flex mode="seamed" ng-controller="Auth">
  <core-toolbar id="mainheader">
    <span flex>Invention4</span>
    <paper-icon-button icon="account-circle" class="primary"></paper-icon-button>
    <paper-icon-button icon="home" class="primary"></paper-icon-button>
  </core-toolbar>
</core-header-panel>

<script src="components/requirejs/require.js" data-main="js/auth.js"></script>

<% include footer %>