<% include header %>

<core-header-panel flex>

  <%- include('admin_topbar', {activeTab: 1}) %>

  <div ng-controller="AdminSetting">

    <div id="contents">

      <div class="page-title">
        <core-icon icon="settings"></core-icon>&nbsp;Blog Setting
      </div>

      <form name="settingForm">

        <paper-input-decorator
          label="Blog Title"
          floatingLabel
          error="{{errorMessage(settingForm.blogtitle.$error)}}"
          isInvalid="{{!settingForm.blogtitle.$valid && settingForm.blogtitle.$dirty}}"
        >
          <input name="blogtitle" is="paper-input"
            required
            ng-model="formData.blogtitle"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>

        <paper-input-decorator
          label="Author Name"
          floatingLabel
          error="{{errorMessage(settingForm.authorname.$error)}}"
          isInvalid="{{!settingForm.authorname.$valid && settingForm.authorname.$dirty}}"
        >
          <input name="authorname" is="paper-input"
            required
            ng-model="formData.authorname"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>


        <radio-group>

          <legend>Post per page</legend>

          <paper-radio-group selected="one">
            <paper-radio-button name="one" label="1">
            </paper-radio-button>
            <paper-radio-button name="three" label="3">
            </paper-radio-button>
            <paper-radio-button name="five" label="5">
            </paper-radio-button>
            <paper-radio-button name="ten" label="10">
            </paper-radio-button>
            <paper-radio-button name="twenty" label="20">
            </paper-radio-button>
          </paper-radio-group>

        </radio-group>

        <fieldset>

          <legend>Profile</legend>

          <div style="width:100%">

            <table>
              <tbody>
                <tr>
                  <td style="width:125px;" valign="bottom">

                    <div style="width:125px;height:125px;">

                      <img holder ng-cloak data-src="holder.js/100%x100%/text:PHOTO">

                    </div>
                  </td>

                  <td valign="bottom">
                    <div style="width:100%; padding-bottom:0px;" >
                      <paper-button class="" style="font-size:12px;"  role="button" tabindex="0">
                        <core-icon style="width:16px;height:16px;" icon="create"></core-icon>&nbsp;EDIT
                      </paper-button>

                    </div>
                  </td>

                </tr>

              </tbody>
            </table>

            <div class="editor-wrapper">
              <textarea style="display: block;" ng-cloak ng-editor id="editor" name="contents"
                required
                ng-model="formData.contents"
              >HI! please edito</textarea>
            </div>

          </div>

        </fieldset>

        <div class="buttons" style="float:right;">
          <paper-button raised class="primary">SAVE</paper-button>
        </div>

      </form>
    </div>
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin_setting.js"></script>

<% include footer %>
