<div ng-controller="AdminAccountSettingDialog"
  ng-init="userID ='<%=userid%>'"
>

  <paper-action-dialog backdrop autoCloseDisabled layered="false"
    id="admin-account-setting-dialog"
    heading="Account Setting"
    closeSelector="[force-close]"
    ng-cloak
  >

    <paper-input-decorator
      label="Username"
      floatingLabel
    >
      <input name="username" is="paper-input" readonly>
    </paper-input-decorator>

    <paper-input-decorator
      label="Email"
      floatingLabel
    >
      <input name="email" is="paper-input" readonly>
    </paper-input-decorator>

    <form name="accountSettingForm">

      <fieldset>

        <legend>
          <div class="title">Change Password</div>
          &nbsp;&nbsp;
          <paper-button class="primary" role="button" tabindex="0">
            <core-icon icon="check"></core-icon>&nbsp;SAVE
          </paper-button>
        </legend>

        <div class="form-body">

          <paper-input-decorator
            label="Old Password"
            error="{{errorMessage(accountSettingForm.oldPassword.$error)}}"
            isInvalid="{{!accountSettingForm.oldPassword.$valid && accountSettingForm.oldPassword.$dirty}}"
          >
            <input name="oldPassword" is="paper-input"
              type="password"
              required
            >
          </paper-input-decorator>


          <paper-input-decorator
            label="New Password"
            error="{{errorMessage(accountSettingForm.newPassword.$error)}}"
            isInvalid="{{!accountSettingForm.newPassword.$valid && accountSettingForm.newPassword.$dirty}}"
          >
            <input name="newPassword" is="paper-input"
              type="password"
              required
            >
          </paper-input-decorator>

          <paper-input-decorator
            label="Confirm Password"
            error="{{errorMessage(accountSettingForm.repeatPassword.$error)}}"
            isInvalid="{{!accountSettingForm.repeatPassword.$valid && accountSettingForm.repeatPassword.$dirty}}"
          >
            <input name="repeatPassword" is="paper-input"
              type="password"
              required
            >
          </paper-input-decorator>
        </div>

      </fieldset>

    </form>

    <paper-button force-close affirmative>close</paper-button>

  </paper-action-dialog>

</div>
