<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents">
      <div>

        <style>
          ul {
           
            list-style-type: none;
          }
          ul li {

            padding: 10px;
            border-bottom:1px solid black;
          }
        </style>


      	<ul>

          <li>
            <span style="font-weight:bold;font-size:24px">title</span>
            <div style="float:right;font-weight:bold;font-size:24px">published</div>
            
            
          </li>

          <li>
            <span style="font-weight:bold;font-size:24px">some long title</span>
            <div style="float:right">2015-01</div>
            <div style="float:clear"></div>
            <div style="visible:none;">
              <core-icon icon="create"></core-icon>
              <core-icon icon="delete"></core-icon>
            </div>
          </li>
          <li>
            some long title
            <div style="float:right">2015-01</div>
            <div style="float:clear">
            <div>icon area</div>
          </li>
          <li>
            some long title
          </li>
          <li>
            some long title
          </li>
        </ul>


	      <paper-fab id="add-post" icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
	    </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin.js"></script>

<% include footer %>