<% include header %>

<core-header-panel flex>

  <% var activeTab = 1; %>
  <% include admin_topbar %>

  <div ng-controller="AdminSetting">

    <div id="contents">

      <div class="page-title">
        <core-icon icon="settings"></core-icon>&nbsp;Blog Setting
      </div>

      <form name="settingForm">

        <paper-input-decorator
          label="Blog Title"
          floatingLabel
          error="{{errorMessage(settingForm.blogtitle.$error)}}"
          isInvalid="{{!settingForm.blogtitle.$valid && settingForm.blogtitle.$dirty}}"
        >
          <input name="blogtitle" is="paper-input"
            required
            ng-model="formData.blogtitle"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>

        <paper-input-decorator
          label="Author Name"
          floatingLabel
          error="{{errorMessage(settingForm.authorname.$error)}}"
          isInvalid="{{!settingForm.authorname.$valid && settingForm.authorname.$dirty}}"
        >
          <input name="authorname" is="paper-input"
            required
            ng-model="formData.authorname"
            ng-maxlength="50"
            ng-minlength="4"
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>


        <section>

          <legend>Post per page</legend>

          <paper-radio-group selected="one">
            <paper-radio-button name="one" label="1">
            </paper-radio-button>
            <paper-radio-button name="three" label="3">
            </paper-radio-button>
            <paper-radio-button name="five" label="5">
            </paper-radio-button>
            <paper-radio-button name="ten" label="10">
            </paper-radio-button>
            <paper-radio-button name="twenty" label="20">
            </paper-radio-button>
          </paper-radio-group>

        </section>

      <fieldset>

      <legend><core-icon icon="face" style="width:20px;height:20px;line-height:20px;"></core-icon>&nbsp;Profile</legend>

      <div>

        <div style="width:125px;height:125px">
          <img holder ng-cloak data-src="holder.js/100%x100%/text:PHOTO">
        </div>


        <paper-button class="primary" raised>CHANGE</paper-button>
        <paper-button class="primary" raised>REMOVE</paper-button>
      </div>


      <div class="editor-wrapper">
      <textarea style="display: block;" ng-cloak ng-editor id="editor" name="contents"
        required
        ng-model="formData.contents"
      >dd</textarea>


    </div>

  </fieldset>

  <div style="margin-top:30px;">


          <paper-button class="primary" raised>SAVE</paper-button>
          <paper-button class="secondary" raised>CANCLE</paper-button>


  </div>

      </form>

    </div>

  </div>

  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin_setting.js"></script>

<% include footer %>
