<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents">

      <div class="page-title">
        <core-icon icon="add"></core-icon>&nbsp;New Post
      </div>

      <paper-input-decorator 
        label="Title" 
      >
        <input name="title" is="paper-input"
          required 
          ng-model="formData.title" 
          ng-minlength="1"
          ng-keydown="hideGlobalValidation()"
        >
      </paper-input-decorator>
 
      <div class="editor-wrapper">
        <textarea id="editor"></textarea>
      </div>

      <div class="buttons">
        <div>
           <paper-button
              raised class="submit primary">
              PUBLISH
            </paper-button>

           <paper-button
              raised class="submit">
              CANCEL
            </paper-button>
        </div>
      </div>
    </div>

  </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin_new_post.js"></script>

<% include footer %>