<% include header %>

<core-header-panel flex mode="seamed">
  <% include topbar %>

  <div ng-controller="Admin">

 <!--  <core-toolbar id="title-header" class="medium-tall">

    	<div class="top indent title"><h1>List of posts</h1></div>
    	<paper-fab icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
    	<span flex class="bottom indent subtitle">Invention4 > Admin panel</span>

  	</core-toolbar> -->

    <div id="contents">
      <div test style="height:800px;" ng-model="zzzzz"></div>
    </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin.js"></script>

<% include footer %>