<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents">
      <div test style="height:800px;" ng-model="zzzzz"></div>
      <paper-fab id="add-post" icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
    </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin.js"></script>

<% include footer %>