<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents">
      <div>

      	<div><h3>Some big long title</h3> <span style="float:right">2015-01-01</span></div>

      	<div><h3>Some big long title</h3> <span style="float:right">2015-01-01</span></div>

      	<div><h3>Some big long title</h3> <span style="float:right">2015-01-01</span></div>

      	<div><h3>Some big long title</h3> <span style="float:right">2015-01-01</span></div>


	      <paper-fab id="add-post" icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
	    </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin.js"></script>

<% include footer %>