<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="AdminNewPost">

    <div id="contents">

      <div class="page-title">
        <core-icon icon="add"></core-icon>&nbsp;New Post
      </div>


      <form name="newPostForm">

        <paper-input-decorator 
          label="Title"
          error="{{errorMessage(newPostForm.title.$error)}}" 
          isInvalid="{{!newPostForm.title.$valid && newPostForm.title.$dirty}}"
        >
          <input name="title" is="paper-input"
            required 
            ng-model="formData.title" 
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>

        <paper-input-decorator 
          label="Title"
          error="{{errorMessage(newPostForm.title.$error)}}" 
          isInvalid="{{!newPostForm.title.$valid && newPostForm.title.$dirty}}"
        >
        Contents
      </paper-input-decorator>

        <paper-shadow 
        class="global-validator" 
        z="1"
        ng-cloak
        ng-show="!newPostForm.contents.$valid && newPostForm.contents.$dirty"
      >
        <core-icon icon="report-problem"></core-icon>
        {{errorMessage(newPostForm.contents.$error)}}
      </paper-shadow>
 
        <div class="editor-wrapper">
          <textarea ng-editor id="editor" name="contents"
            required
            ng-model="formData.contents"
            ng-keydown="hideGlobalValidation()"
          ></textarea>
        </div>

        <div class="buttons">
          <div>
             <paper-button
                ng-click="submit('<%-submitUrl%>')"
                raised class="primary">
                PUBLISH
              </paper-button>

             <paper-button
                ng-click="cancel('<%- managePostUrl %>')"
                raised>
                CANCEL
              </paper-button>
          </div>
        </div>

      </form>

    </div>

  </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin_new_post.js"></script>

<% include footer %>