<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents">
      <div>

      	<ul>
          <li>
            some long title
            <div style="float:right">2015-01</div>
            <div style="float:clear">
            <div>icon area</div>
          </li>
          <li>
            some long title
            <div style="float:right">2015-01</div>
            <div style="float:clear">
            <div>icon area</div>
          </li>
          <li>
            some long title
          </li>
          <li>
            some long title
          </li>
        </ul>


	      <paper-fab id="add-post" icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
	    </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin.js"></script>

<% include footer %>