<%- include('header', {css:""}) %>

<core-header-panel flex>

  <%- include('admin_topbar', {activeTab: 1}) %>

  <div ng-controller="AdminSetting">

    <div id="contents">

      <div class="page-title">
        <core-icon icon="settings"></core-icon>&nbsp;Blog Setting
      </div>

      <form name="settingForm">

        <paper-input-decorator
          label="Blog Title"
          floatingLabel
          error="{{errorMessage(settingForm.blogtitle.$error)}}"
          isInvalid="{{!settingForm.blogtitle.$valid && settingForm.blogtitle.$dirty}}"
        >
          <input name="blogtitle" is="paper-input"
            required
            ng-model="formData.blogtitle"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>

        <paper-input-decorator
          label="Author Name"
          floatingLabel
          error="{{errorMessage(settingForm.authorname.$error)}}"
          isInvalid="{{!settingForm.authorname.$valid && settingForm.authorname.$dirty}}"
        >
          <input name="authorname" is="paper-input"
            required
            ng-model="formData.authorname"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
          >
        </paper-input-decorator>


        <radio-group>

          <legend>Post per page</legend>

          <paper-radio-group selected="one">
            <paper-radio-button name="one" label="1">
            </paper-radio-button>
            <paper-radio-button name="three" label="3">
            </paper-radio-button>
            <paper-radio-button name="five" label="5">
            </paper-radio-button>
            <paper-radio-button name="ten" label="10">
            </paper-radio-button>
            <paper-radio-button name="twenty" label="20">
            </paper-radio-button>
          </paper-radio-group>

        </radio-group>

        <fieldset>

          <legend>Profile</legend>

          <div id="setting-profile">

            <input type="hidden" name="profilePhoto" ng-model="formData.photoUrl"></input>

            <table>
              <tbody>
                <tr>
                  <td id="photo" valign="bottom">
                    <div>
                      <!-- http://icons.iconarchive.com/icons/custom-icon-design/flatastic-10/256/Font-icon.png -->
                      <img holder width="125px" height="125px" ng-cloak ng-src="{{formData.photoUrl}}" data-src="holder.js/100%x100%/text:PHOTO">
                    </div>
                  </td>

                  <td id="photo-edit" valign="bottom">
                    <div>
                      <paper-button role="button" tabindex="0" ng-click="clickPhotoEdit()">
                        <core-icon icon="create"></core-icon>&nbsp;EDIT
                      </paper-button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="editor-wrapper">
              <textarea  ng-cloak ng-editor id="editor" name="contents"
                required
                ng-model="formData.contents"
              >HI! please edito</textarea>
            </div>

          </div>

        </fieldset>

        <div class="buttons">
          <paper-button raised class="primary">SAVE</paper-button>
        </div>
      </form>
    </div>
  </div>

</core-header-panel>


  <paper-action-dialog backdrop autoCloseDisabled layered="true"
    id="profile-photo-dialog"
    heading="Profile Photo"
    ng-cloak
    ng-controller="AdminSettingDialog"
  >
    <form name="profilePhotoForm">
      <paper-input-decorator
        label="Photo Url"
        error="{{errorMessage(settingForm.blogtitle.$error)}}"
        isInvalid="{{!profilePhotoForm.photoUrl.$valid && profilePhotoForm.photoUrl.$dirty}}"
      >
        <input name="photoUrl" is="paper-input"
          required
          type="url"
          ng-model="formData.photoUrl"
          ng-keydown="hideGlobalValidation()"
        >
      </paper-input-decorator>
    </form>

    <paper-button ng-click="submit()" class="primary" affirmative>OK</paper-button>
    <paper-button affirmative>CLOSE</paper-button>

  </paper-action-dialog>




<script src="/components/requirejs/require.js" data-main="/js/admin_setting.js"></script>

<% include footer %>
