<% include header %>

<core-header-panel flex>
  <% include topbar %>

  <div ng-controller="Admin">

    <div id="contents">
      <div>

        <style>
          ul {
           
            list-style-type: none;
          }
          ul li {

            padding: 10px;
            border-bottom:1px solid black;
          }

          

        </style>


      	<div class="page-title">
        <core-icon icon="list"></core-icon>&nbsp;List of post
      </div>

          <table style="width:100%;margin-top:40px;" cellspacing="0">
            <thead><tr><th></th><th>Title</th><th>Publish date</th><th></th></tr></thead>
            <tbody>
              <tr>
                <td></td><td>lolem ipsum doler sit amen</td><td>2015-01-01</td><td></td>
              </tr>
               <tr>
                <td></td><td>o i do not have an ipod developers developers developers developers </td><td>2015-01-01</td><td></td>
              </tr>
               <tr>
                <td></td><td>ation developers developers developers developers</td><td>2015-01-01</td><td></td>
              </tr>
               <tr>
                <td></td><td>innovation open source i have neve</td><td>2015-01-01</td><td></td>
              </tr>
               <tr>
                <td></td><td>zzzzzzzzzzzzzzzzz</td><td>2015-01-01</td><td></td>
              </tr>
               <tr>
                <td></td><td>zzzzzzzzzzzzzzzzz</td><td>2015-01-01</td><td></td>
              </tr>
            </tbody>
          </table>


         <!--  <li>
            <span style="font-weight:bold;font-size:24px">Title</span>
            <div style="float:right;font-weight:bold;font-size:24px">Published</div>
            
            
          </li>

          <li>
            <span style="">some long title</span>
            <div style="float:right">2015-01</div>
            <div style="float:clear"></div>
            <div style="visible:none;">
              <core-icon icon="create" width="16px"></core-icon>
              <core-icon icon="delete"></core-icon>
            </div>
          </li>
          <li>
            some long title
            <div style="float:right">2015-01</div>
            <div style="float:clear">
            <div>icon area</div>
          </li>
          <li>
            some long title
          </li>
          <li>
            some long title
          </li>
        </ul> -->


	      <paper-fab id="add-post" icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
	    </div>
  
  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin.js"></script>

<% include footer %>