<% include header %>

<style>
body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #D1432F;
}
p {
  margin: 20px;
  padding: 80px 20px;
  border-radius: 20px;
  background-color: #eee;
}
</style>

<core-header-panel flex>
    <core-toolbar id="mainheader">
      <paper-icon-button id="navicon" 
        icon="arrow-back"></paper-icon-button>
      <span flex>Log-in</span>
      <paper-icon-button id="searchbutton" 
        icon="search"></paper-icon-button>
    </core-toolbar>
    <p>Sample content.</p>
    <p>Sample content.</p>
  </core-header-panel>
  
<script src="components/requirejs/require.js" data-main="js/auth.js"></script>

<% include footer %>