<% include header %>

<core-header-panel flex mode="seamed" ng-controller="Auth">
  <core-toolbar id="mainheader">
    <paper-icon-button id="navicon" 
      class="primary" icon="arrow-back">
    </paper-icon-button>
    <span flex>Invention4</span>
  </core-toolbar>

  <form style="margin-top:20px;width:350px;margin-left:auto;margin-right:auto;">
    <paper-input
      ng-model="formData.username"
      class="primary"
      style="width:100%;" 
      floatingLabel="true" 
      label="username">
    </paper-input>
    <paper-input
      ng-model="formData.password"
      class="primary"
      style="width:100%;" 
      floatingLabel="true" 
      type="password" 
      label="password">
    </paper-input>

    <paper-button
      ng-click="submit('<%-submitUrl%>')"
      style="width:100%;margin-top:20px;" 
      raised class="primary">
      Login
    </paper-button>

    <paper-button 
      style="margin-top:20px;font-size:11px;float:right;" 
      class="primary">
      Forgot password?
    </paper-button>
  </form>
</core-header-panel>

<script src="components/requirejs/require.js" data-main="js/auth.js"></script>

<% include footer %>