<% include header %>

<core-header-panel flex>

  <% include blog_topbar %>

  <div id="contents">
     <paper-shadow class="content-box summary" z="1">
      <h3><a href="#">My Post Title title title title</a></h3>
      <p>posted 2015-01-01 by admin</p>
      <p>Some little summarySome little summarySome little summarySome little summarySome little summarySome little summarySome little summarySome little summary&nbsp;<span style="color:red">read more...</span></p>
    </paper-shadow>
    <paper-shadow class="content-box summary" z="1">
      z = 1
    </paper-shadow>
    <paper-shadow class="content-box summary" z="1">
      z = 1
    </paper-shadow>
    <paper-shadow class="content-box summary" z="1">
      z = 1
    </paper-shadow>
    <div style="text-align:center">

    <paper-button raised>
               Prev
              </paper-button>

    <paper-button raised>
                Next
              </paper-button>
    </div>

  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/blog.js"></script>

<% include footer %>