<% include header %>

<core-header-panel flex>

  <% include blog_topbar %>

  <div id="contents">

    <% for(var i=0; i<posts.length; i++) {%>
      <paper-shadow class="content-box summary" z="1">

        <h3><a href="#"><%= posts[i].title %></a></h3>

        <p class="date-and-autor"><core-icon icon="today" style="height:15px;width:15px;"></core-icon>&nbsp;<%= posts[i]["publish_date"] %></p>
        
        <p><%= posts[i].summary %>&nbsp;&nbsp;<a href="#">read more...</a></p>
      </paper-shadow>
       
    <% } %>

<div style="text-align:center">
    <paper-button raised>
               Prev
              </paper-button>

    <paper-button raised>
                Next
              </paper-button>
    </div>

  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/blog.js"></script>

<% include footer %>