<core-toolbar id="mainheader" class="medium-tall" ng-controller="AdminTopMenu">
  <% if (username) { %>
    <paper-icon-button icon="menu" class="primary"></paper-icon-button>
  <% } %>
  <span flex>Invention4</span>

  <div relative>
    <%if (username) { %>

      <paper-menu-button>
        <paper-icon-button icon="account-circle" class="primary" noink></paper-icon-button>
        <paper-dropdown class="dropdown" transition="" id="userinfo" halign="right">
          <core-menu class="menu">
            <paper-item noink> 
              <div class="username"><%=username%></div>
              <div class="edituser">
                <paper-icon-button class="primary" icon="settings"></paper-icon-button>
              </div>
            </paper-item>
             
            <paper-item noink>
              <paper-button ng-click="logout('<%- logoutUrl %>')"
                raised class="submit primary">
                Logout&nbsp;<core-icon="exit-to-app"></core-icon>
              </paper-button>
            </paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-menu-button>
    
    <% } %>
    <paper-icon-button ng-click="home()" icon="home" class="primary"></paper-icon-button>
  </div>

  <div class="bottom fit" horizontal layout>
    <paper-tabs selected="0" flex style="max-width: 600px;">
      <paper-tab>LIST OF POST</paper-tab>
      <paper-tab></paper-tab>
      <paper-tab></paper-tab>
    </paper-tabs>
  </div>

</core-toolbar>

  <!-- <core-toolbar id="title-header" class="medium-tall">

      <div class="top indent title"><h1>List of posts</h1></div>
      <paper-fab icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
      <span flex class="bottom indent subtitle">Invention4 > Admin panel</span>

    </core-toolbar> -->